.nav {
    grid-area: n;
    background-color: darkgreen;
    padding: 8px;
}
.item {
    text-decoration: none;

}

.item {
    color: white;
}
.activeLink {
    color: orange;
    text-decoration: none;
}