.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .dialog {

}
.messages {
    padding: 10px;
    display: flex;
    min-width: 300px;
    width: 40%;
    flex-direction: column;

}
.button {
    width: 50px;

}
.messages .dialog {
}


